<div class="facet-list">
  <h2><%=@atrium_exhibit.title %></h2>
  <ul class="exhibit-controls">
    <li><%= link_to 'View Exhibit', @atrium_exhibit %></li>
    <li><%= link_to 'Configure Exhibit', edit_atrium_exhibit_path(@atrium_exhibit.id) %></li>
    <li><%= link_to 'Configure Exhibit Page', @atrium_exhibit %></li>
    <li><%= link_to 'Configure Browse Page',  new_atrium_exhibit_atrium_browse_pages_path(@atrium_exhibit,:atrium_browse_page_type=>"atrium_exhibit")%></li>
  </ul>
  <%- unless @showcase_navigation_data.nil? || @showcase_navigation_data.empty? -%>
    <dl id="showcases">
      <%- @showcase_navigation_data.each do |showcase| -%>
        <dt><%= showcase.title%></dt>
        <dd><%= link_to 'Configure Showcase', edit_atrium_showcase_path(showcase) %></dd>
        <dd>
          <%# link_to 'Configure Browse Page',  new_atrium_browse_page_path(:atrium_parent_id=>showcase.set_number, :atrium_parent_type=>"showcase", :exhibit_id => showcase.atrium_exhibit_id)%>
          <%= link_to 'Configure Browse Page',  new_atrium_showcase_atrium_browse_pages_path(showcase,:atrium_browse_page_type=>"atrium_showcase")%>
        </dd>
      <%- end -%>
    </dl>
  <%- end -%>
</div>

<hr />
<%= link_to "Delete this Exhibit", atrium_exhibit_path(@atrium_exhibit.id), :method => :delete, :remote => true, :confirm => "Are you really sure?" %>
