<%= form_for(@atrium_exhibit, :html => {:class => "atrium"}) do |f| %>
  <fieldset>
    <legend>Basic Configuration</legend>
    <% if @atrium_exhibit.errors.any? %>
      <ul class="errors">
        <% @atrium_exhibit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <ol>
      <li>
        <%= f.label :title, 'Title:' %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :search_facet_names, 'Exhibit Search Facets:' %>
        <%= f.collection_select :search_facet_names, facet_field_names.map{|field_name| Atrium::Search::FacetSelection.new(:field_name => field_name)}, :field_name, :label, {}, :multiple => true, :class => 'chosen', :'data-placeholder' => 'Select desired facets from the Collection' %>
      </>
    </ol>
    <p>
      <%= f.submit 'Update Exhibit Configuration' %>
    </p>
  </fieldset>
<% end %>

<hr />
<%- query_params = {:exhibit_id=>@atrium_exhibit.id,:edit_exhibit_filter=>@atrium_exhibit.id} -%>
<%- query_params.merge!(@atrium_exhibit.filter_query_params) if @atrium_exhibit.filter_query_params -%>
<%= link_to("Set Exhibit Filter", catalog_index_path(query_params)).html_safe %>
