
<%= link_to 'Show', @atrium_exhibit %> |
<%= link_to 'Back to Search', catalog_index_path %>

<h1>Editing exhibit</h1>

<%= render :partial => "form" %>

<%= link_to 'Show', @atrium_exhibit %> |
<%= link_to 'Back to Search', catalog_index_path %>
