<div class="showcase_configure">
  <%- if @atrium_showcase && session[:edit_showcase]%>
    <%=render :partial=>'shared/showcase_configure_menu'%>
  <%- end %>
</div>

<h2><b>Exhibit Title:</b>&nbsp;&nbsp;
  <div class="<%= session[:edit_showcase]&&(current_user) && (can? :create, Atrium::Exhibit) ?  "edit-text": "no-edit"%>" id="div_1" data-column-name="atrium_exhibit[label]" data-update-uri=<%=atrium_exhibit_path(@exhibit)%>><%=@exhibit.title%></div>
</h2>

<span id="show_description">
  <%- if @atrium_showcase && @atrium_showcase.descriptions-%>
    <%= render :partial=>'shared/list_descriptions', :locals=>{:descriptions=>@atrium_showcase.descriptions} %>
  <%- end -%>
</span>

<span id="show_selected">
<%- if !@documents.blank? -%>
  <%= render :partial=>'shared/featured_sources' %>
<%- end -%>
</span>

<hr />

<h2>Complete Sources</h2>
<a id="toggle_sources" href="#" title="Hide the complete listing of sources.">Hide Complete Sources</a>
<div id="complete_sources">
  <%= render :partial=>'atrium_collections/browse_index'%>
</div>
