<h2>
  <div class="<%= params[:edit_showcase] && (can? :create, Atrium::Exhibit) ?  "edit-text": "no-edit"%>" id="div_1" data-column-name="atrium_exhibit[label]" data-update-uri=<%=atrium_exhibit_path(@exhibit)%>>
    <%= @exhibit.title %>
  </div>
</h2>


  <%- if @atrium_showcase && @atrium_showcase.descriptions-%>
    <%= render :partial=>'shared/list_descriptions', :locals=>{:descriptions=>@atrium_showcase.descriptions} %>
  <%- end -%>


<span id="show_selected">
<%- if !@documents.blank? -%>
  <%= render :partial=>'shared/featured_sources' %>
<%- end -%>
</span>

<hr />

<h2>Complete Sources</h2>
<div id="complete_sources">
  <%- if !@collection_items_documents.blank? -%>
    <%= render :partial=>'atrium_collections/collection_items_index' %>
  <%- else -%>
    <%= render :partial=>'atrium_collections/browse_index'%>
  <%- end -%>
</div>
