<%- if !@atrium_browse_page.nil? && params[:browse_page_id]%>
    <%= @atrium_browse_page.inspect %>
    <%=render :partial=>'shared/browse_page_configure_menu'%>
<%- end %>
<span id="show_selected"> </span>
<div id="showHead">
  <div id="showUtils">
    <span class="edit-browse">
      <%# if editor? -%>
        <%= link_to 'Edit', {:action=>"edit", :id=>@atrium_exhibit.id} %> |
        <%= link_to 'Back to Search', catalog_index_path %>
      <%# end -%>
    </span>
  </div>
</div>


<%=render :partial=>'shared/exhibit_title_header'%>
<%#render :partial=>'navigation'%>

<%- if false #@atrium_exhibit.descriptions.any? -%>
  <h2>Description</h2>
  <%- @atrium_exhibit.descriptions(:response_format=>:solr).each_with_index do |document, counter| -%>
    <%- description = load_af_instance_from_solr(document) -%>
    <%= render :partial=>'descriptions/show_description', :locals => {:description => description, :document=> SolrDocument.new(document), :exhibit_id => params[:id]}%>
  <%- end -%>
<%- end -%>

<%- if false #@atrium_exhibit && @atrium_exhibit.collections.any? -%>
  <h2>Collection details</h2>
  <dl class="item-list featured">
    <%- @atrium_exhibit.collections(:response_format=>:solr).each_with_index do |document, counter| -%>
      <%- item = load_af_instance_from_solr(document) -%>      
      <%= render_document_index_partial(SolrDocument.new(document), item.title, counter, :index) %>
    <%- end -%>
  </dl>
    <%- collection = @atrium_exhibit.collections.first-%>
    <%- if collection.descriptions.any? -%>
      <em>Collection Description</em>
      <%- collection.descriptions.each do |description| -%>
        <h3><%= description.title %></h3>
        <p class="collection_desc"> <%= load_description(description) %> </p>
      <%- end -%>
    <%- end -%>
<%- end -%>

<%- if !@documents.blank? -%>
  <h2>Featured Sources</h2>
  <dl class="item-list featured">
    <div id="documents">
      <% @documents.each_with_index do |document, i| %>
        <% # container for a single doc -%>
        <div class="document">
            <h3 class="index_title"><%= i + 1 + @response.params[:start].to_i%>. <%= link_to_document document, :label => document_show_link_field, :results_view => false %></h3>
            <%= render_document_partial document, :index %>
        </div>
      <% end %>
    </div>
  </dl>
<%- end -%>

<hr />

<h2>Complete Sources</h2>
<a id="toggle_sources" href="#" title="Hide the complete listing of sources.">Hide Complete Sources</a>
<div id="complete_sources">
  <%= render :partial=>'browse_index'%>
</div>
