<div class="showcase_configure">
  <%- if @atrium_showcase && params[:edit_showcase]%>
    <%=render :partial=>'shared/showcase_configure_menu'%>
  <%- end %>
</div>

<h2><b>Exhibit Title:</b>&nbsp;&nbsp;<%=@exhibit.title%></h2>

<%- if @atrium_showcase && @atrium_showcase.descriptions-%>
  <h2>Description</h2>
   <ol>
    <%- @atrium_showcase.descriptions.each do |desc| -%>
    <li>
      <%= desc.description.html_safe%>
    </li>
    <%- end -%>
  </ol>
<%- end -%>

<span id="show_selected">
<%- if !@documents.blank? -%>
  <%= render :partial=>'shared/featured_sources' %>
<%- end -%>
</span>

<hr />

<h2>Complete Sources</h2>
<a id="toggle_sources" href="#" title="Hide the complete listing of sources.">Hide Complete Sources</a>
<div id="complete_sources">
  <%= render :partial=>'atrium_collections/browse_index'%>
</div>
