<div class="facet-list">
  <h2><%=@atrium_collection.title %></h2>
  <ul class="collection-controls">
    <li><%= link_to 'View Collection', @atrium_collection %></li>
    <li><%= link_to 'Configure Collection', edit_atrium_collection_path(@atrium_collection.id) %></li>
    <li><%= link_to 'Configure Showcase',  new_atrium_collection_atrium_showcases_path(@atrium_collection,:atrium_showcase_type=>"atrium_collection")%></li>
  </ul>
  <%- unless @exhibit_navigation_data.nil? || @exhibit_navigation_data.empty? -%>
    <dl id="exhibits">
      <%- @exhibit_navigation_data.each do |exhibit| -%>
        <dt><%= exhibit.title%></dt>
        <dd><%= link_to 'Configure Exhibit', edit_atrium_exhibit_path(exhibit) %></dd>
        <dd>
          <%# link_to 'Configure Browse Page',  new_atrium_showcase_path(:atrium_parent_id=>exhibit.set_number, :atrium_parent_type=>"exhibit", :collection_id => exhibit.atrium_collection_id)%>
          <%= link_to 'Configure Showcase',  new_atrium_exhibit_atrium_showcases_path(exhibit,:atrium_showcase_type=>"atrium_exhibit")%>
        </dd>
      <%- end -%>
    </dl>
  <%- end -%>
</div>

<hr />
<%= link_to "Delete this Collection", atrium_collection_path(@atrium_collection.id), :method => :delete, :remote => true, :confirm => "Are you really sure?" %>
