<%= form_for(@atrium_collection, :html => {:class => "atrium"}) do |f| %>
  <fieldset>
    <legend>Basic Configuration</legend>
    <% if @atrium_collection.errors.any? %>
      <ul class="errors">
        <% @atrium_collection.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <ol>
      <li>
        <%= f.label :title, 'Title:' %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :search_facet_names, 'Collection Search Facets:' %>
        <%= f.collection_select :search_facet_names, Blacklight.config[:facet][:field_names].map{|field_name| Atrium::Search::FacetSelection.new(:field_name => field_name)}, :field_name, :label, {}, :multiple => true, :class => 'chosen', :'data-placeholder' => 'Select desired facets from the Collection' %>
      <li/>
      <li>
         <%= f.label :label, 'Description:' %>
         <%= f.text_area :collection_description, :rows=> '20', :cols => '120', :class =>'jquery-ckeditor' %>
      </li>
    </ol>
    <p>
      <%= f.submit 'Update Collection Configuration' %>
    </p>
  </fieldset>
<% end %>

<h3>Collection Scope</h3>
<p>
  An collection is a subset of a collection. The scope of the collection can be set to any possible query made in the search interface.
</p>
<%- query_params = {:collection_id=>@atrium_collection.id,:edit_collection_filter=>true} -%>
<%- query_params.merge!(@atrium_collection.filter_query_params) if @atrium_collection.filter_query_params -%>
<%= link_to("Set Collection Scope", catalog_index_path(query_params)).html_safe %>

<h3>Exhibits</h3>

<% if @atrium_collection.exhibits.any? %>
  <ol data-resource="<%= update_atrium_collection_exhibit_order_path %>" class="exhibit-listing sortable">
    <% @atrium_collection.exhibits.each do |exhibit| %>
      <li data-id="<%= exhibit.id %>" data-order="<%= exhibit.set_number %>" class="ui-state-default">
        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
        <%= exhibit.title %>
        <span class="controls">
          <%= link_to 'Configure', edit_atrium_exhibit_path(exhibit) %>
        </span>
      </li>
    <% end %>
  </ol>
<% else %>
  <em>There are no exhibits in this collection.</em>
<% end %>

  <%= form_for(@atrium_collection) do |f| %>
  <%- @exhibit = Atrium::Exhibit.new-%>
  <%= f.fields_for :exhibits, @exhibit do |exhibit_fields| %>
    <%- @exhibit.set_number = @atrium_collection.exhibits.size + 1 -%>
    <%= exhibit_fields.hidden_field :set_number %>
    <%= f.submit 'Add a Exhibit to this Collection' %>
  <% end %>
<% end %>

<% if @atrium_collection %>
  <%= button_to "Delete this Collection", atrium_collection_path(@atrium_collection.id), :method=>:delete, :class=>:destroy,:confirm=>"Are you really want to delete this collection?" %>
<% end %>



