<%= form_for(@atrium_collection, :html => {:class => "atrium"}) do |f| %>
  <fieldset>
    <legend>Basic Configuration</legend>
    <% if @atrium_collection.errors.any? %>
      <ul class="errors">
        <% @atrium_collection.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <ol>
      <li>
        <%= f.label :title, 'Title:' %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :search_facet_names, 'Collection Search Facets:' %>
        <%= f.collection_select :search_facet_names, blacklight_config.facet_fields.map {|key, facet| Atrium::Search::FacetSelection.new(:field_name => facet.field)}, :field_name, :label, {}, :multiple => true, :class => 'chosen', :'data-placeholder' => 'Select desired facets from the Collection' %>

      <li/>
      <li>
        <%= f.label :collection_description, 'Collection Search Page about text:' %>
        <%= f.text_area :collection_description, :rows=> '20', :cols => '120', :class =>'jquery-ckeditor' %>
      </li>
      <li>
        <%= f.label :theme, 'Collection Theme' %>
        <%= f.collection_select :theme, Atrium::Collection.available_themes, :to_s, :titleize %>
      </li>
    </ol>
    <%= f.submit 'Update Collection Configuration' %>
  </fieldset>
<% end %>

<h3>Collection Scope</h3>
    <p>
      An collection is a subset of a collection. The scope of the collection can be set to any possible query made in the search interface.
    </p>
    <fieldset>
      <legend>Current Scope</legend>
      <%-if @atrium_collection.filter_query_params %>
        <ul>
          <%- @atrium_collection.filter_query_params.each do |key,value| %>
            <li><label><%= key %>: </label><%= value %></li>
          <%- end %>
        </ul>
      <%- end %>
    </fieldset>
    <%# @atrium_collection.filter_query_params.inspect unless @atrium_collection.filter_query_params.blank? %>
    <%- query_params = {:collection_id=>@atrium_collection.id,:edit_collection_filter=>true} -%>
    <%- query_params.merge!(@atrium_collection.filter_query_params) if @atrium_collection.filter_query_params -%>
    <%- query_params.delete(:controller) %>
    <%- query_params.delete(:action) %>
    <%- query_params.delete(:solr_doc_ids) %>
    <dl>
      <dd> <%= link_to("Set Collection Scope", atrium_set_collection_scope_path(query_params)).html_safe %> <%= link_to("Remove Collection Scope", atrium_unset_collection_scope_path(@atrium_collection.id)).html_safe  %></dd>
    </dl>


<h3>Exhibits</h3>

<% if @atrium_collection.exhibits.any? %>
  <ol data-resource="<%= update_atrium_collection_exhibit_order_path %>" class="exhibit-listing sortable">
    <% @atrium_collection.exhibits.each do |exhibit| %>
      <li data-id="<%= exhibit.id %>" data-order="<%= exhibit.set_number %>" class="ui-state-default">
        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
        <%= exhibit.pretty_title %>
        <span class="controls">
          <%= link_to 'Configure', edit_atrium_exhibit_path(exhibit) %>
        </span>
      </li>
    <% end %>
  </ol>
<% else %>
  <em>There are no exhibits in this collection.</em>
<% end %>

<%= form_for(@atrium_collection) do |f| %>
  <%- @exhibit = Atrium::Exhibit.new-%>
  <%= f.fields_for :exhibits, @exhibit do |exhibit_fields| %>
    <%- @exhibit.set_number = @atrium_collection.exhibits.size + 1 -%>
    <%= exhibit_fields.hidden_field :set_number %>
    <%= f.submit 'Add a Exhibit to this Collection' %>
  <% end %>
<% end %>



