<!--this was id="facets" but removed for now so items below are always unhidden, will style more later-->
<li>
  <%- if current_user -%>
    <%# link_to "Configure Collection #{@atrium_exhbit}" , new_atrium_collection_atrium_showcases_path(@atrium_collection,:atrium_showcase_type=>"atrium_collection"), :class=>"customize"%>
    <%= link_to "Configure Collection #{@atrium_exhbit}" ,edit_atrium_collection_path(@atrium_collection.id, :class=>"customize")%>
  <%- end %>
</li>
<li><%= link_to 'View Collection', @atrium_collection %></li>
<%# debug  @exhibit_navigation_data.inspect%>
<div class="facet-list">
  <%- if @exhibit_navigation_data.nil? || @exhibit_navigation_data.empty? -%>
      <ul>
        <%- @atrium_collection.exhibits.each do |exhibit| -%>
          <%- if current_user -%>
          <li>
            <%= link_to "Customize Exhibit: #{exhibit.title}", new_atrium_exhibit_atrium_showcases_path(exhibit,:edit_showcase=>true, :facet_selection=>params[:f]),:class=>"customize"%>
          </li>
          <%- end -%>
        <%- end %>
      </ul>
  <%- else %>
    <!-- recursively render the browse sets-->
    <%- @exhibit_navigation_data.each do |exhibit| -%>
      <%- unless exhibit.browse_levels.nil? || exhibit.browse_levels.empty? -%>
        <%= render :partial => 'atrium_collections/navigation_browse_levels', :locals=>{:exhibit_number=>exhibit.set_number, :browse_levels=>exhibit.browse_levels, :browse_facets=>exhibit.browse_facet_names}%>
      <%- end -%>
    <%- end -%>
  <%- end -%>

  <%- if current_user  -%>
    <%- if !params[:edit_showcase] && !params[:atrium_collection_browse] && !params[:atrium_exhibit_browse] -%>
      <%= link_to "Customize this page", get_customize_page_path, :class=>"customize"%>
    <%- end %>
  <%- end %>
</div>




