<div class="showcase_configure">
  <%- if @atrium_showcase && params[:edit_showcase]%>
    <%=render :partial=>'shared/showcase_configure_menu'%>
  <%- end %>
</div>

<div id="showHead">
  <div id="showUtils">
    <span class="edit-browse">
      <%# if editor? -%>
        <%= link_to 'Edit', {:action=>"edit", :id=>@atrium_collection.id} %> |
        <%= link_to 'Back to Search', catalog_index_path %>
      <%# end -%>
    </span>
  </div>
</div>


<%=render :partial=>'shared/collection_title_header'%>
<%#render :partial=>'navigation'%>

<%# if @atrium_showcase && @atrium_showcase.descriptions -%>
<%- if @atrium_showcase && @atrium_showcase.descriptions-%>
  <h2>Description</h2>
   <ol>
    <%- @atrium_showcase.descriptions.each do |desc| -%>
    <li>
      <%= desc.description.html_safe if desc.description %>
    </li>
    <%- end -%>
  </ol>
<%- end -%>

<%- if false #@atrium_collection && @atrium_collection.collections.any? -%>
  <h2>Collection details</h2>
  <dl class="item-list featured">
    <%- @atrium_collection.collections(:response_format=>:solr).each_with_index do |document, counter| -%>
      <%- item = load_af_instance_from_solr(document) -%>      
      <%= render_document_index_partial(SolrDocument.new(document), item.title, counter, :index) %>
    <%- end -%>
  </dl>
    <%- collection = @atrium_collection.collections.first-%>
    <%- if collection.descriptions.any? -%>
      <em>Collection Description</em>
      <%- collection.descriptions.each do |description| -%>
        <h3><%= description.title %></h3>
        <p class="collection_desc"> <%= load_description(description) %> </p>
      <%- end -%>
    <%- end -%>
<%- end -%>

<span id="show_selected">
<%- if !@documents.blank? -%>
  <%= render :partial=>'shared/featured_sources' %>
<%- end -%>
</span>

<hr />

<h2>Complete Sources</h2>
<a id="toggle_sources" href="#" title="Hide the complete listing of sources.">Hide Complete Sources</a>
<div id="complete_sources">
  <%= render :partial=>'browse_index'%>
</div>
