<div class="showcase_configure">
  <%- if @atrium_showcase && session[:edit_showcase]%>
    <%=render :partial=>'shared/showcase_configure_menu'%>
  <%- end %>
</div>

<%=render :partial=>'shared/collection_title_header'%>

<span id="show_description">
  <%- if @atrium_showcase && @atrium_showcase.descriptions-%>
    <%= render :partial=>'shared/list_descriptions', :locals=>{:descriptions=>@atrium_showcase.descriptions} %>
  <%- end -%>
</span>

<span id="show_selected">
  <%- if !@documents.blank? -%>
    <%= render :partial=>'shared/featured_sources' %>
  <%- end -%>
</span>

<hr />

<h2>Complete Sources</h2>
<a id="toggle_sources" href="#" title="Hide the complete listing of sources.">Hide Complete Sources</a>
<div id="complete_sources">
  <%= render :partial=>'browse_index'%>
</div>
