<%# javascript_includes << ["ckeditor"] %>

<h1>You are configuring your browse page, Here are your options</h1>

<%= link_to 'Select Featured', atrium_browse_page_featured_path(params[:browse_page_id]), :class=>'colorbox', :action=> atrium_browse_page_path(@atrium_browse_page.id) %>

| <a class="add_description" href="#">Add Description</a>  |
<%= link_to 'View this exhibit', atrium_exhibit_path(:id => params[:id], :f=>params[:f], :showcase_number=>params[:showcase_number])%> </li>


<div class="description">
   <%= form_for(@atrium_browse_page) do |f| %>
    <%= f.label :label, 'Description:' %>
    <%# f.cktext_area :descriptions, :toolbar=>'Full', :width=>'400px', :height=>'200px' %>
    <%= f.text_area :descriptions %>
    <%= f.submit 'Add Description' %>
    <% end %>
</div>
