<dl class="item-list"></dl>
<%- if @browse_response.nil? -%>
  <h3><em>0 items found</em></h3>
<%- else -%>
<h3><em><%# grouped_result_count(@browse_response, nil, nil) %> found</em></h3>
<%# asset && asset.featured.any? ? featured_list = asset.featured(:response_format=>:solr) : featured_list=nil-%>
<%# featured_list.blank? ? featured_list_count = 0 : featured_list_count=featured_list.count  -%>
<%#unless featured_list.blank? -%>
  <%# featured_list.each do |featured_document| -%>
    <%# featured_id = featured_document[:id] ? featured_document[:id] : featured_document[:id.to_s]-%>
    <%# @browse_document_list.each_with_index do |doc, counter| -%>
      <%# doc_id = doc[:id] ? doc[:id] : doc[:id.to_s]-%>
      <%# debug  "Matched id: #{doc_id} at counter: #{counter}"%>
      <%#@browse_document_list.delete(doc) if doc_id.eql?(featured_id)-%>
      <%# end -%>
  <%# end -%>
<%# end -%>

<div class="pagination">
  <%= will_paginate @browse_response.docs, :page_links => false, :class => 'prev_next_links' %>
  <%= will_paginate @browse_response.docs, :container => false %>
</div>
<%= render :partial=>'shared/sort_and_per_page', :locals => {:response=>@browse_response} if @browse_response.response['numFound'] > 10 %>

<div id="documents" class="collection-listing">
  <%#unless featured_list.blank? -%>
    <%# if @browse_response.docs.current_page.eql?(1) %>
        <h2>Featured Sources</h2>
        <%# featured_list.each_with_index do |document, counter| -%>
          <div class="document<%# thumbnail_class( document ) %>">
              <% # header bar for doc items in index view -%>
              <div class="documentHeader yui-g">
                <% # main title container for doc partial view -%>
                <div class="yui-u">
                  <%# item = load_af_instance_from_solr(document) -%>
                  <%# document_show_link_field debug item.inspect %>
                  <%# if item.class == Collection -%>
                    <%# title = item.title -%>
                  <%# elsif item.class == Component-%>
                    <%# item.item_id.blank? ? title = item.sub_collection_title : title = item.item_title -%>
                  <%# else-%>
                    <%# title = document[:id] %>
                  <%# end %>
                  <%#  item.item_title.blank? ? title = item.sub_collection_title : title = item.item_title -%>
                  <h2 class="index_title">
                    <%# doc_id= document[:id] ? document[:id] : document[:id.to_s] -%>
                    <%# label= title.blank? ? doc_id : title -%>
                    <%# link_to_with_data(label, catalog_path(doc_id), {:method => :put, :data => {:counter => counter},:title=>nil}) %>
                    <%# link_to_document document, :label=>label , :counter => (counter + 1) %>
                  </h2>
              </div>
            </div>
            <%# render_document_index_partial(SolrDocument.new(document), title, counter, :index) %>
          </div>
        <%# end -%>
    <%# end -%>
  <%# end -%>
</div>


<%= render :partial=>'shared/collection_complete_list', :locals => {:document_list=>@browse_document_list, :response=>@browse_response} %>

<div class="pagination">
  <%= will_paginate @browse_response.docs, :page_links => false, :class => 'prev_next_links' %>
  <%= will_paginate @browse_response.docs, :container => false%>
</div>
<%- end -%>
