<%- if params[:add_featured] -%>
  <h1> You can use either use search form or facet to search for items to be added featured source. Please use selected checkbox to select item </h1>
<%- end -%>
<div id="search" class="search">
  <%= form_tag catalog_index_path, :method => :get do %>
    <h2 class="search"><%= label_tag(:q, "Search ") %></h2>
    <%= text_field_tag :q, params[:q], :class => "q" %>
    <%= label_tag(:search_field, " in ") %>
    <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => "Targeted search options", :class=>"search_field") %>

    <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %>

    <%= submit_tag 'search', :class=>'submit', :name=>'search_button' %>
    <%- if params[:exhibit_id] && params[:edit_exhibit_filter] -%>
      <div id="prompt" class="ui-state-highlight ui-corner-all">
        <%= submit_tag 'Set Exhibit Scope to Here', :class=>'submit', :name=>'save_exhibit_filter_button' %>
      </div>
    <%- elsif params[:edit_showcase_filter] -%>
      <div id="prompt" class="ui-state-highlight ui-corner-all">
        <%= submit_tag 'Set Showcase Scope to Here', :class=>'submit', :name=>'save_showcase_filter_button' %>
      </div>
    <%- elsif params[:edit_browse_level_filter] -%>
      <div id="prompt" class="ui-state-highlight ui-corner-all">
        <%= submit_tag 'Set Browse Level Scope to Here', :class=>'submit', :name=>'save_browse_level_filter_button' %>
      </div>
    <%- end -%>
  <% end %>
  <hr/>
</div>
