<%- unless @showcase.nil? -%>
<fieldset>
  <legend>Browse Levels</legend>

<%= form_for(@showcase) do |f| %>
  <%- unless @showcase.browse_levels.empty? -%>
      <table border=1>
	<tr><th>Facet</th><th>Label</th><th>Solr Filter Query</th><th>Delete</th></tr>
        <%- @showcase.browse_levels.each_with_index do |level,index| -%>
        <tr>
          <%= f.fields_for :browse_levels, level do |level_form| %>
            <td><%=facet_field_labels[level.solr_facet_name]%></td>
	    <td><%=level_form.text_field :label, :value=>level.label%></td>
	    <td><%=level_form.text_field :solr_filter_query%></td>
	    <td><%=level_form.check_box :_destroy %></td>
          <% end %>
        </tr>
        <%- end -%>
      </table>
      <p>
	<%= f.submit 'Update' %>
      </p>
    <%- end -%>
<%- end -%>
<%= form_for(@showcase) do |f| %>
    <%- @level = Atrium::BrowseLevel.new-%>
    <%= f.fields_for :browse_levels, @level do |level_fields| %>
      <%- if @showcase.browse_levels.empty? -%>
        <%- available_facets = facet_field_names -%>
      <%- else -%>
        <%- facet_names = @showcase.browse_levels.collect {|level| level.solr_facet_name}-%>
        <%- available_facets = facet_field_names.reject {|facet| facet_names.include?(facet)} -%>
      <%- end -%>
      <%- @level.level_number = @showcase.browse_levels.size + 1 -%>
      <%= level_fields.hidden_field :level_number %>
      <table>
	<tr>
	  <td>
	    <%= level_fields.label :solr_facet_name, 'Solr Facet:' %>
	    <%= level_fields.select(:solr_facet_name, available_facets.collect {|solr_fname| [facet_field_labels[solr_fname],solr_fname]})%>
	  </td>
	  <td>
            <%= level_fields.label :solr_filter_query, 'Solr Filter Query:' %> 
	    <%= level_fields.text_field :solr_filter_query %>
	  </td>
	  <td><%= f.submit 'Add Browse Level' %></td>
	</tr>
      </table>
    <% end %>
<% end %>
</fieldset>

    <fieldset>
     <legend>Browse Page</legend>
      <div id="catalog-form" title="Catalog" style="display:none"></div>
      <%= link_to 'Back to search', catalog_index_path, :remote => true %>
    </fieldset>

<%- end -%>
