
<p>Initialized showcase: <%= "Browse_Page: #{@atrium_showcase.inspect}" %></p>



    <fieldset>
     <legend>Browse Page</legend>
       <div id="catalog-form" title="Catalog" style="display:none">
         <span id="show_selected"> </span>
         <%- unless @atrium_showcase.nil?-%>
           <%= form_for(@atrium_showcase) do |f| %>
            <%= f.text_field :atrium_exhibit_id %>
            <%= f.fields_for :showcase_items, @atrium_showcase.showcase_items do |item| %>
              <%= item.label :key, "key:" %>
              <%= item.text_field :key, :size => 10, :value => @atrium_showcase.showcase_items["key"]  %>
              <%= item.label :key, "Doc_ids:" %>
              <%= item.text_field :solr_doc_ids, :size => 10, :value => @atrium_showcase.showcase_items["solr_doc_ids"]   %>
              <%= item.hidden_field :solr_doc_ids %>
            <% end %>
            <%= f.submit 'Update browse' %>
           <% end %>
         <% end %>
      </div>
    </fieldset>

