<%- unless @showcase.nil? -%>
<fieldset>
  <legend>Browse Levels</legend>

<%= form_for(@showcase) do |f| %>
  <%- unless @showcase.browse_levels.empty? -%>
      <table border=1>
	<tr><th>Facet</th><th>Label</th><th>Solr Filter Query</th><th>Delete</th></tr>
        <%- @showcase.browse_levels.each_with_index do |level,index| -%>
        <tr>
          <%= f.fields_for :browse_levels, level do |level_form| %>
            <td><%=facet_field_labels[level.solr_facet_name]%></td>
	    <td><%=level_form.text_field :label, :value=>level.label%></td>
	    <td><%=level_form.text_field :solr_filter_query%></td>
	    <td><%=level_form.check_box :_destroy %></td>
          <% end %>
        </tr>
        <%- end -%>
      </table>
      <p>
	<%= f.submit 'Update' %>
      </p>
    <%- end -%>
<%- end -%>
<%= form_for(@showcase) do |f| %>
    <%- @level = Atrium::BrowseLevel.new-%>
    <%- @showcase.set_number = @atrium_exhibit.showcases.size + 1 -%>
    <%- @showcase.atrium_exhibit_id = @atrium_exhibit.id %>
    <%= f.fields_for :browse_levels, @level do |level_fields| %>
      <%- if @showcase.browse_levels.empty? -%>
        <%- available_facets = Blacklight.config[:facet][:field_names] -%>
      <%- else -%>
        <%- facet_names = @showcase.browse_levels.collect {|level| level.solr_facet_name}-%>
        <%- available_facets = Blacklight.config[:facet][:field_names].reject {|facet| facet_names.include?(facet)} -%>
      <%- end -%>
      <%- @level.level_number = @showcase.browse_levels.size + 1 -%>
      <%= level_fields.hidden_field :level_number %>
      <table>
	<tr>
	  <td>
	    <%= level_fields.label :solr_facet_name, 'Solr Facet:' %>
	    <%= level_fields.select(:solr_facet_name, available_facets.collect {|solr_fname| [facet_field_labels[solr_fname],solr_fname]})%>
	  </td>
	  <td>
        <%= level_fields.label :solr_filter_query, 'Solr Filter Query:' %>
	    <%= level_fields.text_field :solr_filter_query %>
	  </td>
	  <td><%= f.submit 'Add Browse Level' %></td>
	</tr>
      </table>
    <% end %>
<% end %>
</fieldset>




    <%# link_to 'Select Featured', atrium_browse_pages_path(:exhibit_id => @showcase.atrium_exhibit_id), :class=>'colorbox', :action=> atrium_browse_page_path %>
    <%= link_to 'Select Featured', catalog_index_path, :class=>'colorbox'%>

    <fieldset>
     <legend>Browse Page</legend>
       <div id="catalog-form" title="Catalog" style="display:none">
         <span id="show_selected"> </span>
         <%- @browse_page = Atrium::BrowsePage.new-%>
         <%= form_for(@browse_page) do |f| %>
            <%-  @browse_page.atrium_showcase_id = @showcase.id %>
            <%= f.hidden_field :atrium_showcase_id %>
            <%= f.fields_for :browse_page_items, @browse_page.browse_page_items do |item| %>
              <%= item.label :key, "key:" %>
              <%= item.text_field :key, :size => 10, :value => @browse_page.browse_page_items["key"]  %>
              <%= item.label :key, "Doc_ids:" %>
              <%= item.text_field :solr_doc_ids, :size => 10, :value => @browse_page.browse_page_items["solr_doc_ids"]   %>
            <% end %>
            <%= f.submit 'Add browse' %>
        <% end %>
      </div>
    </fieldset>

<%- end -%>
