

<!-- this partial recursively calls itself as necessary to render the navigation browse level data -->
<% unless browse_levels.nil? || browse_facets.nil? || showcase_number.nil?-%>
  <%- browse_level = browse_levels.first -%>
  <%- unless browse_level.values.empty? -%>
    <%- solr_facet_name = browse_level.solr_facet_name -%>
    <%- browse_level.label = facet_field_labels[solr_facet_name] if browse_level.label.blank? -%>
    <h3 class="facet-heading"><%= browse_level.label %></h3>
    <ul>
      <%- browse_level.values.each do |value| -%>
        <li>
          <%- if !browse_level.selected.nil? && browse_level.selected == value && showcase_number.to_i == params[:showcase_number].to_i-%>
	    <span class="selected">
	      <%- selected_path = get_selected_browse_facet_path(solr_facet_name, value, browse_facets, showcase_number,:edit_browse_page=>"test") -%>
              <%= link_to("-", selected_path, :class=>"remove") %>
              <%= link_to(value, selected_path, :class=>"browse_facet") %>
            </span>
	    <%- if browse_levels.size > 1 && !browse_levels.second.values.empty? -%>
	      <%= render :partial => 'atrium_exhibits/navigation_browse_levels', :locals=>{:browse_levels=>browse_levels.slice(1,browse_levels.length-1), :browse_facets=>browse_facets.slice(1, browse_facets.length-1),:showcase_number=>showcase_number}%> 
	    <%- end -%>
	  <%- else -%>
	    <%= link_to(value, get_browse_facet_path(solr_facet_name, value, browse_facets, showcase_number)) %>
	  <%- end -%>
	</li>
      <%- end -%>
    </ul>
    <%# debug @atrium_browse_page.inspect %>
  <%- end -%>
    <%- if current_user && params[:edit_browse_page] -%>
      <%- if !@atrium_browse_page -%>
        <%= link_to "Customize Showcase: #{showcase_number}", new_atrium_showcase_atrium_browse_pages_path(@showcase,:atrium_browse_page_type=>"atrium_showcase", :facet_selection=>params[:f]), :class=>"customize"%>
      <%- else %>
       <%= link_to 'View this Showcase', atrium_exhibit_path(:id => params[:id], :f=>params[:f], :showcase_number=>params[:showcase_number])%>
      <%- end %>
    <%- end %>
<%- end -%>

