
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>

    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>

    <%= raw(render_head_content) %>

  </head>
  <% if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
  <body onload="$('input#q').focus();" class="<%= render_body_class %>">
    <% else %>
  <body class="<%= render_body_class.html_safe %>">
    <% end %>
      <div id="doc4" class="yui-t2">

<div id="hd">
        <div class="yui-g">
          <div class="yui-u first">
            <%- if params[:collection_id] || (params[:controller] == "collections" && params[:id]) -%>
              <table>
                <tr>
                  <td>
                    <%- params[:collection_id] ? collection_id = params[:collection_id] : collection_id = params[:id] -%>
                    <%- @atrium_collection.nil? ? collection = Atrium::Collection.find(collection_id) : collection = @atrium_collection -%>
                    <h3><%# link_to_collection :collection_id=>collection_id, :label=>"#{collection.title}", :style=>"text-decoration:none;border-bottom:medium none" %></h3>
                  </td>
                </tr>
              </table>
            <%- else -%>
            <h1 class="site_title"><%= link_to application_name, "/" %><%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>".html_safe : "" %></h1>
            <%- end -%>
          </div>
          <div class="yui-u user_util_links">
            <%= render :partial=>'/user_util_links' %>
          </div>
        </div>
      </div>

<div id="bd">

       <div id="yui-main">
          <div class="yui-b">
            <%= render :partial=>'/flash_msg' %>
            <%= yield %>
          </div>
        </div>

        <div class="yui-b sidebar">
          <%- if params[:controller] == "catalog" -%>
            <%- if params[:render_search].blank? || params[:class] == "edit_collection" -%>
              <%- if params[:collection_id] -%>
                <h3><%# link_to_collection(:label=>"Back to Browse Collection") %></h3>
              <%- end -%>
            <%- else -%>
              <%# render :partial => 'shared/collection_search_form' %>
              <%= render :partial => 'atrium_collections/navigation' %>
              <%= render :partial => 'atrium_collections/edit_navigation' %>
            <%- end -%>
          <%- elsif params[:controller] == "atrium_collections" && !(params[:action] == "show")-%>
            <%= render :partial => 'atrium_collections/edit_navigation' %>
          <%- elsif params[:controller] == "atrium_exhibits"&& !(params[:action] == "show")-%>
            <%= render :partial => 'atrium_collections/edit_navigation' %>
          <%- elsif params[:controller] == "atrium_exhibits" && params[:action] == "show" && params[:edit_showcase]=="true"-%>
             <%= render :partial => 'atrium_showcases/showcase_navigation' %>
          <%- elsif params[:controller] == "atrium_collections" && params[:action] == "show" && params[:edit_showcase]=="true"-%>
             <%= render :partial => 'atrium_showcases/showcase_navigation' %>
          <%- elsif params[:controller] == "atrium_collections" && params[:action] == "show"-%>
            <%= render :partial => 'shared/collection_search_form' %>
            <%= render :partial => 'atrium_collections/navigation' %>
          <%- elsif params[:controller] == "atrium_descriptions"-%>
          <%- elsif params[:controller] != "user_sessions" && !(params[:controller] == "atrium_collections" && params[:action] == "index")-%>
            <%= render :partial => 'shared/collection_search_form' %>
            <%= render :partial => 'atrium_collections/navigation' %>
          <%- end -%>
          <%= sidebar_items.join('').html_safe %>
        </div>
<div id="ft"><%= raw(@footer) %></div>
</div>
    </body>

    </html>
