<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %>
    <%= yield :theme_styles%>
  </head>
  <% if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
  <body onload="$('input#q').focus();" class="<%= render_body_class %>">
    <% else %>
  <body class="<%= render_body_class.html_safe %>">
  <% end %>
    <%= render :partial => 'shared/banner' %>
    <div id="page">
      <div id="hd">
        <div id="logo">
          <% if content_for? :main_header %>
            <%= yield :main_header %>
          <% else %>
            <%# NOTE: There shouldn't be a new collection object hanging around here but one is present in the root catalog page when logged in. %>
            <% if @atrium_collection && !@atrium_collection.new_record? %>
              <h3><%= link_to @atrium_collection.title, atrium_collection_home_path(@atrium_collection) %></h3>
            <% else %>
              <h1 class="site_title"><%= link_to application_name, "/" %><%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>".html_safe : "" %></h1>
            <% end %>
          <% end %>
        </div>
        <div id="user_util_links">
          <%= render :partial=>'/user_util_links' %>
        </div>
      </div>
      <div id="bd">
        <div id="main">
          <div id="main_container">
            <%= render :partial=>'/flash_msg' %>
            <%= yield %>
          </div>
        </div>
        <div id="sidebar">
          <% if params[:controller] == "catalog" %>
            <% if (params[:atrium_collection_browse].blank? && params[:atrium_exhibit_browse].blank?) || params[:class] == "edit_collection" %>
              <% if params[:collection_id] %>
                <h3><%= link_to("Back to Browse Collection", atrium_collection_path(params[:collection_id])) %></h3>
              <% end %>
            <% else %>
	      <%= render :partial => 'shared/collection_search_form' %>
              <%= render :partial => 'atrium_collections/navigation' %>
            <% end %>
          <% elsif params[:controller] == "atrium_collections" && !(params[:action] == "show")%>
            <%= render :partial => 'atrium_collections/edit_navigation' %>
          <% elsif params[:controller] == "atrium_exhibits"&& !(params[:action] == "show")%>
            <%= render :partial => 'atrium_collections/edit_navigation' %>
          <% elsif params[:controller] == "atrium_exhibits" && params[:action] == "show" && session[:edit_showcase]%>
             <%= render :partial => 'atrium_showcases/showcase_navigation' %>
          <% elsif params[:controller] == "atrium_collections" && params[:action] == "show" && session[:edit_showcase]%>
             <%= render :partial => 'atrium_showcases/showcase_navigation' %>
          <% elsif params[:controller] == "atrium_collections" && params[:action] == "show"%>
            <%= render :partial => 'shared/collection_search_form' %>
            <%= render :partial => 'atrium_collections/navigation' %>
          <% elsif params[:controller] == "atrium_descriptions"%>
          <% elsif params[:controller] != "user_sessions" && !(params[:controller] == "atrium_collections" && params[:action] == "index")%>
            <%= render :partial => 'shared/collection_search_form' %>
            <%= render :partial => 'atrium_collections/navigation' %>
          <% end %>
          <%= sidebar_items.join('').html_safe %>
        </div>
      </div>
      <div id="ft">
        <%= yield :footer %>
        <%= raw(@footer) %>
      </div>
    </div>

  </body>
</html>
